body{
    display: flex;
    margin: 0;
    background-color: rgb(43, 35, 66);
}
.navbarline,aside{
    display: inline-block;
}
aside{
    background-color: rgb(43, 35, 66);
    width: 100%; 
}
.article1{
    background-color: rgb(43, 35, 66);
    margin-left: 250px;
    margin-top: 75px;
}
.navbarline{
    background-color: blueviolet;
    width: 250px;
    height: 100%;
    position: fixed;
    background-image: linear-gradient(rgb(66, 52, 85),rgba(111, 96, 148, 0.767)),url(/image/sidebar-2.jpg);
    background-size:cover;
    background-position:60%;
}
.logo{
    font-size: 20px;
    margin-top: 20px;
    text-align: center;
    color: rgba(255, 255, 255, 0.432);
    font-style: oblique;
}
.linebar{
    height: 0.2px;
    width: 88%;
    margin-left: 6%;
    background-color: rgba(255, 255, 255, 0.442);
}
.nabar{
    margin-left: 6%;
}
.nabar ul li{
    list-style: none;
    height: 50px;
    margin-top: 10px;
    margin-left: -18%;
    margin-right: 6%;
    border-radius: 5px 5px;
    display: flex;
}
/*
.nabar ul li:active{
    background-color: rgb(43, 25, 205);
}
*/
.nabar ul li:hover{
    background-color: rgba(255, 255, 255, 0.281);
}
.nabar ul li div,.nabar ul li a{
    display: inline-block;
}
.nabar ul li div{
    width: 25px;
    height: 25px;
    margin-left: 30px;
    margin-top :12px;
    background-color: rgba(255, 255, 255, 0);
}
.nabar ul li a{
    margin-left: 15px;
    text-decoration-line: none;
    color: rgba(255, 255, 255, 0.562);
    font-size: 15px;
    margin-top: 15px;
    font-style:italic;
}
.imgAccueil{
    background-image:url(/image/menu.png);
    background-size:cover;
}
.imgEmploi{
    background-image:url(/image/calendar.png);
    background-size:cover;
}
.imgProfil{
    background-image:url(/image/user.png);
    background-size:cover;
}
.imgModulenote{
    background-image:url(/image/sugar-cube.png);
    background-size:cover;
}
.imgEtudinatAbsence{
    background-image:url(/image/laptop.png);
    background-size:cover;
}
.imgNotifications{
    background-image:url(/image/notification-bell.png);
    background-size:cover;
}
.imgTeacher{
    background-image:url(/image/driving-instructor.png);
    background-size:cover;
}
.imgFiliere{
    background-image:url(/image/9882858.png);
    background-size:cover;
}
.imgAffectationM{
    background-image:url(/image/assignment.png);
    background-size:cover;
}
.imgDefiniremploi{
    background-image:url(/image/timetable.png);
    background-size:cover;
}
.imgValiderNotes{
    background-image:url(/image/writing.png);
    background-size:cover;
}
.imgFormation{
    background-image:url(/image/training.png);
    background-size:cover;
}
.imgAfficModules{
    background-image:url(/image/writing.png);
    background-size:cover;
}
.imgAfficProfesseurs{
    background-image:url(/image/9882858.png);
    background-size:cover;
}

.navbarcolomne{
    background-color: rgb(43, 35, 66);
    width: 85%;
    height: 70px;
    display: flex;
    margin-left: 250px;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    position: fixed;
}
.navbarcolomne ul li{
    display: inline-block;
    list-style: none;
}
.navbarcolomne ul{
    margin-left: 40%;
}



.searchButton{
    width: 32px;
    border:1px solid;
    background-image:url(/image/search.png);
    background-size:cover;
    text-align: center;
    color:rgb(43, 35, 66);
    border-radius: 5px;
    cursor: pointer;
   background-color: rgb(43, 35, 66);
}
.search{
    height: 30px;
    width:250px;
    position: relative;
    display: flex;
}
.searchTerm:focus{
    color: rgb(255, 255, 255);
  }
.searchTerm{
    width: 100%;
    border: none;
    border-right: none;
    padding: 5px;
    height: 30px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #8da499;
    background-color: rgb(43, 35, 66);

    border-top-style:none ;
    border-bottom-style: solid white;
}



.notification {
    width: 30px;
    height: 30px;
    margin: 0 30px 0 60px;
    color: white;
    text-decoration: none;
    position: relative;
    display: inline-block;
    background-image:url(/image/notification-bell.png);
    background-size:cover;
  }
  .notification:hover {
    border-radius: 10px;
    background-color: rgba(240, 248, 255, 0.415);
  }
  .notification .badge {
    position: absolute;
    top: -6px;
    right: -6px;
    padding: 3px 6px;
    border-radius: 50%;
    background: red;
    color: white;
  }


  .lineshearch{
    width: 250px;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.468);
  }

.wrap{
    margin-right: 35px;
}
.but-profi{
    width: 30px;
    height: 30px;
    background:none;
    border: none;
    cursor: pointer;
    display: inline-block;
    position: relative;
    background-image:url(/image/user.png);
    background-size:cover;
    margin: 0 0 0 25px;
}
.but-profi{
    position: relative;
    display: inline-block;
}
.profi2{
    display: none;
    position: absolute;
    background-color: rgba(152, 152, 152, 0.587);
    min-width: 150px;
}
.profi2 a{
    color: rgba(255, 255, 255, 0.582);
    padding: 15px 20px;
    text-decoration:solid;
    display: block;
    border-radius: 5px 5px 5px 5px;
}
.profi2 a:hover{
    background-color:  rgba(55, 50, 73, 0.86);
}
.profi1:hover .profi2{
    display: block;
    border-radius: 5px 5px 5px 5px;
}
.but-profi:hover::after{
    width: 100%;
}
::-webkit-scrollbar {
    width: 6px;
  } 
  ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
  } 
  ::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
  }
  